@using TravelProject.Models.Sınıflar
@model List<Blog>

@{
    
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Blog Listesi</h2>
<br />
<table class=" table table-bordered">
    <tr>
        <th>Id</th>
        <th>Baslik</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.baslik</td>
            <td><a href="/Admin/BlogSil/@item.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/BlogGetir/@item.Id" class="btn btn-primary">Güncelle</a></td>
            <td><a href="#" class="btn btn-warning">Detaylar</a></td>      
        </tr>
    }

</table>
<a href="/Admin/YeniBlog/" class="btn btn-primary">Yeni Blog</a>

